.vscode
*.swp
*.swo
*.sublime-*
*.pyc
jmeter.log
__pycache__
node_modules/
sftp-config.json
.DS_Store
*.iml
*.ipr
*.iws
*.idea
~$*.xls*
~$*.ppt*
~$*.doc*
nohup.out

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
!thirdparty/jsoncpp/lib/x86_64-linux-gnu/libjsoncpp.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
!thirdparty/jsoncpp/lib/x86_64-linux-gnu/libjsoncpp.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/*.cbp
**/CMakeScripts
**/compile_commands.json
tmp/
include/divisible/*
test/test_runner
.bash/
.tags
admin/localrc
ssl/
cmd.flags
core
deprecated
.env
