--tryfromenv=server_port,server_threads,activemq_broker_uri,activemq_client_ack,workarea,data
--server_port=8063
--server_threads=20
--activemq_broker_uri=failover:(tcp://localhost:8058)
--activemq_client_ack=false
--workarea=../../../../var/trainer/workarea
--data=../../../../var/trainer/data